/* Code below styles content intro so that it is responsive. */

.content-intro {
    margin: 0 0 80px;
}

.content-row.with-gradient {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 0 20px;
}

.content-column:nth-child(1) {
    background: linear-gradient(90deg, #dadfe1, #fff);
    height: 10px;
    align-self: center;
}

.content-column:nth-child(2) {
    margin: auto;
    width: 37rem;
}

.content-column:nth-child(3) {
    background: linear-gradient(90deg, #fff, #dadfe1);
    height: 10px;
    align-self: center;
}

.content-row .headline {
    font-size: 2rem;
    margin: 0;
}

.content-row.without-gradient.not-displayed {
    display: none;
}

.content-row.without-gradient {
    margin: auto;
    width: 28rem;
    text-align: center;
}

.content-row .description {
    font-size: 1.19rem;
}

@media only screen and (max-width: 767px) {
    .content-column:nth-child(2) {
        width: 16rem;
    }

    .content-row .eyebrow {
        text-align: center;
        margin: 0 0 20px;
    }

    .content-row .headline {
        font-size: 1.5rem;
        text-align: center;
    }

    .content-row.without-gradient {
        width: 91%;
    }

    .content-row .description {
        font-size: .875rem;
    }
}
