@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* styles for parent of logo, form, and social buttons for widths above 1024px */

.footer .footer-links {
    padding: 77px 0 66px;
    position: relative;
    width: 100%;
    height: auto;
    background-color: #dadfe1;
}

.footer-links .max-wrapper {
    /* 
        border-box property makes it so that width, 
        margin, and padding all add up to 1286px.
    */
    margin: 0 auto;
    width: 100%;
    max-width: 1286px;
    padding: 0 22px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    box-sizing: border-box; 
}

/* styles of logo for widths above 1024px */

.max-wrapper .column-left .logo {
    margin: 0 0 25px;
    display: block;
    width: 100%;
}

/* styles of form for widths above 1024px */

.column-left .mailing-list-signup {
    margin: 0 0 40px;
}

.mailing-list-signup p {
    line-height: 1.3125rem;
    display: block;
    max-width: 344px;
    margin: 0 0 30px;
    font-family: Montserrat, sans-serif;
}

.entry-email-signup .entry-input-text {
    border-radius: 24px;
    width: 75%;
    max-width: 260px;
    margin: 0 0 24px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
}

.entry-email-signup .checkbox {
    display: flex;
    margin: 0 0 24px;
}

.entry-email-signup .checkbox .confirm {
    /* width and height added to make checkbox bigger */
    width: 20px;
    height: 20px;
    margin: 0;
}

.entry-email-signup .checkbox p {
    margin: 0;
    padding: 0 0 0 10px;
    font-size: .8rem;
}

.entry-email-signup  .button-submit {
    cursor: pointer;
    display: flex;
    border: none;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    outline: 0;
    border-radius: 24px;
    width: 150px;
    height: 48px;
    padding: 0;
    justify-content: space-between;
    background: repeating-linear-gradient( 90deg, #fff 0, #fff 70%, #e31b23 70%, #e31b23 100% );
}

.button-submit span {
    padding: 0 0 0 24px;
    align-self: center;
    font-size: 1rem;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
}

.button-submit .white {
    align-self: center;
    padding: 0 18px 0 0;
}

/* styles for social buttons for widths above 1024px */

.column-left .social-follow-buttons {
    width: 100%;
    min-width: 256px;
}

.column-left .social-follow-buttons p {
    display: block;
    font-family: Montserrat, sans-serif;
    line-height: 1.3125rem;
    font-weight: 400;
    margin: 0 0 15px;
}

.column-left .social-follow-buttons ul {
    margin: 0; 
    padding: 0;
    list-style: none;
}

.social-follow-buttons ul li {
    display: inline-block;
    margin: 0 0 0 10px;
}

.social-follow-buttons ul li:first-child {
   margin: 0;
}

.social-follow-buttons ul li a {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 43px;
    height: 43px;
    border-radius: 50%;
    text-decoration: none;
    color: #000;
    background-color: #fff;
}

/* styles for About and International columns of footer for widths above 1024px */

.max-wrapper .column-center {
    margin: 0 0 0 auto;
}

.max-wrapper .column-right {
    margin: 0 auto;
}

.column-center h2, .column-right h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 1.625rem;
    line-height: 1.875rem;
    font-weight: 400;
    text-transform: uppercase;
}

.column-center ul, .column-right ul {
    margin: 0; 
    padding: 0;
    list-style: none;
}

.column-center ul li, .column-right ul li {
    margin: 0 0 8px;
}

.column-center ul li a, .column-right ul li a {
    text-decoration: none;
    color: #000;
    font-family: Montserrat, sans-serif;
    font-size: 1rem;
    line-height: 1.3125rem;
}

/* styles for privacy footer section for widths above 1024px */

.footer-privacy {
    display: flex;
    align-items: center;
    height: 40px;
    padding: 0 22px 0 22px;
    font-family: Montserrat, sans-serif;
    font-weight: 300;
    font-size: .875rem;
    line-height: 1.0625rem;
    background-color: #000;
    color: #fff;
}

.footer-privacy .max-wrapper {
    display: flex;
    width: 100%;
    max-width: 1286px;
    justify-content: space-between;
    margin: 0 auto;
}

.footer-privacy .max-wrapper .column p {
    font-size: inherit;
    line-height: inherit;
}

.footer-privacy .max-wrapper .column a {
    text-decoration: none;
    color: #fff;
    font-size: inherit;
    line-height: inherit;
}

@media only screen and (max-width: 768px) {

    /* styles for parent of logo, form, and social buttons for max width 768px */

    .footer .footer-links {
        padding: 44px 0 33px;
    }

    .footer-links .max-wrapper {
        grid-template-columns: initial;
        grid-template-rows: repeat(3, auto);
    }

    /* styles of form for max width 768px */

    .column-left .mailing-list-signup {
        margin: 0 0 30px;
    }

    .mailing-list-signup p {
        font-size: .875rem;
        line-height: 1.125rem;
        margin: 0 0 20px;
    }

    .entry-email-signup .entry-input-text {
        margin: 0 0 40px;
    }

    .entry-email-signup .button-submit {
        height: 40px;
        width: 130px;
    }

    .button-submit span {
        font-size: .875rem;
    }

    /* styles for About and International columns of footer for max width 768px */

    .max-wrapper .column-center, .max-wrapper .column-right{
        margin: 0;
    }

    .column-center h2, .column-right h2 {
        font-size: 1.125rem;
        line-height: 1.3125rem;
        margin: 33px 0 20px;
    }

    .column-center ul li a, .column-right ul li a {
        font-size: .875rem;
        line-height: 1.125rem;
    }

    /* styles for privacy footer section or max width 768px */

    .footer-privacy {
        height: auto;
        font-size: .75rem;
        line-height: .9375rem;
        padding: 0;
        align-items: initial;
    }

    .footer-privacy .max-wrapper {
        width: auto;
        flex-direction: column;
        padding: 11px 22px 16.5px;
        justify-content: initial;
        align-items: center;
    }

    .footer-privacy .max-wrapper .column:first-child {
        margin: 5px 0;
    }
}

