/*block of code to make image behind content --start*/
.location-block {
    position:relative;
    margin: 0 22px 80px;
}

.location-block .location-background {
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 624.938px;
    overflow: hidden;
}

.location-block .location-background img {
    width: 100%;
    height: auto;
}

.location-block .location-container {
    /*brings content in front of background image*/
    position: absolute; 
    display: grid;
    grid-template-columns: 42.5% 57.5%;
    max-width: 1198px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    align-items: center;
}

/*block to make image behind content --end */

/*styles for location info column for width above 1024px*/

.location-info-column .max-wrapper {
    padding: 44px 0;
    background: linear-gradient(90deg,#fff,#dadfe1);
}

.location-info-column .max-wrapper .eyebrow {
    margin: 0 44px 10px;
}

.location-info-column .max-wrapper .headline {
    padding: 22px 44px;
    margin: 0 0 10px;
    background-color: #fff;
    text-align: left;
    font-size: 2rem;
    line-height: 1.9rem;
    letter-spacing: -.1rem;
}

.location-info-column .max-wrapper .description {
    display: block;
    margin: 0 44px 25px;
    text-align: left;
    font-size: 1.125rem;
}

/*styles for FORM for widths above 1024px*/

.location-info-column .max-wrapper .form-container {
    margin: 0 44px 0; 
}

form .entry-input {
    position: relative;
    border-radius: 24px;
    box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    padding: 0;
    height: 48px;
    background: #fff;
    width: fit-content;
    display: flex;
    overflow: hidden;
}

form .entry-input-text {
    font-size: 1rem;
    line-height: 48px;
    height: 48px;
    padding: 0 24px;
    border: none;
    outline: none;
}

::placeholder {
    /*this selector is used to style input placeholder*/
    color: rgba(0, 0, 0, 0.25);
    font-size: 1.05rem;
}

form .entry-input button {
    height: 48px;
    width: 50px;
    background: #e31b23;
    border: none;
}

button .white {
    color: #fff;
    font-size: 1.5rem;
}


@media only screen and (max-width: 1024px) {

    /*styles for background image for max width 1024px*/

    .location-block .location-background {
        max-height: 835px;
        overflow: initial;
    }

    .location-block .location-background img {
        /*image needs a set height so that background covers container children*/
        height: 835px;
    }

    /*styles for location image column for max width 1024px*/

    .location-block .location-container {
        /*brings content in front of background image*/
        position: absolute; 
        display: grid;
        grid-template-columns: initial;
        grid-template-rows: 385px calc(100% - 385px); /*pixels should match image wrapper height*/
        margin: 85px 0; /*changes with size of grid template rows*/
    }

    .location-container .location-image-column {
        /*rearranged order of divs in css grid so that image is begore info*/
       order: 1;
       z-index: 1;
    }

    .location-image-column .image-wrapper {
        /*fixed width and height for image so that it does not shrink*/
        width: 680px;
        height: 385px;
        margin: 0 auto;
        box-shadow: 0 1px 10px 0 rgba(0,0,0,.15);
    }

    .location-image-column .image-wrapper img{
       height: 100%;
    }

    /*styles for location info column for max width 1024px*/

    .location-container .location-info-column {
        order: 2;
    }

    .location-info-column .max-wrapper {
        /*fixed width for info column so that it does not shrink*/
        width: 640px;
        margin: 0 auto;
        padding: 33px 0;
    } 

    .location-info-column .max-wrapper .eyebrow {
        margin: 0 33px 10px;
    }

    .location-info-column .max-wrapper .headline {
        padding: 22px 33px;
        font-size: 1.8rem;
    }

    .location-info-column .max-wrapper .description {
        margin: 0 33px 25px;
        font-size: 1rem;
    }

    .location-info-column .max-wrapper .form-container {
        margin: 0 33px; 
    }
}


@media only screen and (max-width: 768px) {
    
}