.navbar {
    background-color: #fff;
    box-shadow: 0 2px 8px 0 rgba(0,0,0,.25);
    /* height: 100px;
    width: 100%; */
    font-family: nimbus-sans-condensed,sans-serif;
    text-transform: uppercase;
    /* font-weight:; */
    font-size: .880rem;
    /* display: flex;
    justify-content: center; */
}

.navbar-wrapper {
    height: 100px;
    display: flex;
    margin: 0 auto;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 14%;
    margin: 0 0 0 7%;
}

.navtabs-wrapper {
    width: 80%;
}

.navbar-tabs {
    display: flex;
    justify-content: space-between;
}



.nav-link {
    text-decoration: none;
    color: #000;
}

.order-button {
    width: 10%;
}