.promo-unit.left {
    margin: 0 0 160px;
}

.promo-container .max-wrapper {
    max-width: 954px;
    max-height: 180px;
    margin: 0 auto;
    background: #f3f4f5;
}

.max-wrapper .promo-info-column {
    padding: 0 272px 0 100px;
    position: relative;
    bottom: 15px;
}

.promo-info-column .headline {
    font-size: 2rem;
    line-height: 2.375rem;
    text-align: left;
    margin: 0 0 25px;
    letter-spacing: -.1rem;
}

.promo-info-column .description {
    font-size: 1.125rem;
}

.promo-info-column .link {
    margin: 25px 0 0 0;
}

.promo-info-column .link span {
    padding: 0 24px;
}


@media only screen and (max-width: 1024px) {
    .promo-unit.left {
        margin: 0 0 120px;
    }

    .max-wrapper .promo-info-column {
        padding: 0 100px 0 100px;
    }

    .promo-info-column .headline {
        margin: 0 0 20px;
    }

    .promo-info-column .description {
        font-size: 1rem;
    }

    .promo-info-column .link {
        margin: 20px 0 0 0;
    }
}

@media only screen and (max-width: 768px) {
    .promo-unit.left {
        margin: 0 0 80px;
    }

    .promo-unit.left .promo-container {
        padding: 0 22px;
    }

    .promo-container .max-wrapper {
        max-width: initial;
        max-height: initial;
    }

    .max-wrapper .promo-info-column {
        padding: 22px;
        position: initial;
        bottom: 0;
    }

    .promo-info-column .headline {
        font-size: 1.5rem;
        line-height: 1.625rem;
        margin: 0 0 10px;
        letter-spacing: -.07rem;
    }

    .promo-info-column .description {
        font-size: .875rem;
    }

    .promo-info-column .link {
        margin: 10px 0 0 0;
    }

    .promo-info-column .link span {
        padding: 0 20px;
        font-size: .9375rem;
    }
}