
/* column grid styles */

.full-width-promo {
    position: relative;
    width: 100%;
    height: auto;
}

.full-width-promo .promo-stripe {
    background-color: #d02c30;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
}

.promo-stripe .max-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    color: #fff;
}

/* styles for body column */

.max-wrapper .body-column {
    box-sizing: border-box;
    text-align: left;
    width: 100%;
    padding: 44px 0 44px 100px;
}

.body-column .eyebrow {
    margin: 0 0 25px;
}

.body-column .headline {
    font-size: 2.25rem;
    line-height: 2.375rem;
    text-align: inherit;
    margin: 0 0 25px;
}

.body-column .description {
    font-size: 1.125rem;
    line-height: 1.375rem;
    margin: initial;
}

.body-column .link {
    margin: 25px 0;
}

.body-column .link span {
    font-size: 1.2rem;
}

/* styles for image */

.mobile-image {
    display: none;
}

.body-column .download-buttons {
    display: flex;
    align-items: center;
    margin: 0 10% 0 0;
}

.download-buttons .apple-button {
    margin: 0 5px 0 0;
}

.apple-button img, .google-button img {
    width: 100%;
}

.full-width-promo .promo-image {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 44px 0 44px 0; /* might need to change if need more space between next session*/
    width: 50%;
}

.promo-image .image-wrapper {
    z-index: 1;
    width: 85%;
}


@media only screen and (max-width: 1024px) {
    .max-wrapper .body-column {
        padding: 33px 0 33px 68px;
    }

    .body-column .eyebrow {
        margin: 0 0 20px;
    }

    .body-column .headline {
        font-size: 1.75rem;
        margin: 0 0 20px;
    }

    .body-column .description {
        font-size: .875rem;
    }

    .body-column .link {
        margin: 20px 0;
    }

    .promo-image .image-wrapper {
        z-index: 1;
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    .full-width-promo {
        position: initial;
        margin: 0 auto 80px; /* spacing between full-width-promo section and next*/
    }

    .full-width-promo .promo-stripe {
        position: initial;
        transform: initial;
        background-color: none;
    }
    
    .promo-stripe .max-wrapper {
        display: block;
        grid-template-columns: initial;
    }
    
    .max-wrapper .body-column {
        background-color: #d02c30;
        padding: 188px 0 19px 22px;
    }

    .body-column .eyebrow {
        margin: 0 0 10px;
    }

    .body-column .headline {
        font-size: 1.5rem;
        margin: 0 0 10px;
    }

    .body-column .link {
        margin: 10px 0;
    }

    .full-width-promo .promo-image {
        display: none;
    }

    .image-column .mobile-image {
        position: relative;
        display: flex;
        justify-content: center;
    }

    .mobile-image img {
        width: 320px;
        position: absolute;
        transform: translateY(-44%)
    }

    .body-column .download-buttons {
        margin: initial;
        justify-content: center;
    }
}