@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


.slider-nav {
    display: flex;
    align-items: center;
    transform: translateX(4%);
    margin: 10px 0 0 0;
    font-family: Montserrat, sans-serif;
    font-size: .75rem;
    font-weight: 700;
    font-style: normal;
    color: #000;
}

.slider-nav button {
    padding: 10px 5px;
    color: rgba(0,0,0,.2);
    border: 0;
    margin: 0;
    text-decoration: none;
    outline: none;
    background: transparent;
    cursor: pointer;
    transition: 0.3s;
}

.slider-nav span {
    padding: 0 5px;
}

.slider-nav-current {
    color: #e31b23;
}

.slider-nav-total {
    color: rgba(0,0,0,.2);
}

.slider-nav .icon {
    font-size: 1rem;
}

.slider-nav button:hover {
    color: rgb(53, 49, 49);
    /* opacity: 1; */
}

