/*
Google Font: Chivo
font-family: 'Chivo', sans-serif;
Bold 700
*/
@import url('https://fonts.googleapis.com/css2?family=Chivo:wght@700&display=swap');
/*
Google Font: Bitter
font-family: 'Bitter', serif;
Bold 700
*/
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@700&display=swap');


.smoothie-categories.stacked {
    margin: 0 auto 160px;
}

.smoothie-categories.stacked .categories {
    max-width: 1242px;
    margin: 0 auto;
}


.categories .category {
    margin-bottom: 80px;
    display: grid;
    grid-template-columns: 560px calc(100% - 560px);
}

.category .category-card .card-image {
    width: 535px;
    min-height: 335px;
    margin: 0 0 0 25px;
}

.card-image img{
    width: 100%;
}

.category .category-card .card-stripe {
    display: flex;
    background: #d02c30;
    padding: 0 0 0 22px;
    margin: -3px 0 0 0;
    height: 123.594px;
    justify-content: left;
}

.card-stripe .blend-count {
    padding: 0 22px 0 15px;
    display: flex;
    flex-direction: column;
}

.blend-count .blend-count-number {
    font-size: 3.6rem;
    line-height: 3.5rem;
    width: 100%;
    font-family: 'Chivo', sans-serif;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.3rem;
}

.blend-count .blend-count-text {
    text-align: center;
    color: #fff;
}

.card-stripe .card-title {
    font-family: 'Bitter', serif;
    font-size: 3.2rem;
    margin: .35rem 0% 0 0;
    padding: 0 0 0 2%;
    line-height: 3.4rem;
    color: #fff;
}

.category .category-card .card-body {
    padding: 22px 75px 33px 112px;
    margin: 0 0 0 22px;
    background-image: linear-gradient(0deg,#f3f4f5,#fff);
    box-shadow: 0 2px 19px 0 rgba(0,0,0,.15);
}

.card-body .description {
    font-size: 1.275rem;
    line-height: 1.45rem;
}

.card-body .link {
    margin: 25px 0 0 0;
    background: #d02c30;
    color: #fff;
}

.category-feature .ingredient-stripe {
    position: relative;
    top: 51.25%;
    overflow: hidden;
}

.ingredient-stripe .image-wrapper {
    width: 100%;
    min-width: 685px;
    float: right;
}

.category-feature .featured-item {
    position: relative;
    width: fit-content;
    margin: 0 auto;
    bottom: 8%;
}

.featured-item img {
    width: 410px;
}

@media only screen and (max-width: 1023px) {
    .smoothie-categories.stacked {
        margin: 0 auto 120px;
    }

    .smoothie-categories.stacked .categories {
        max-width: 1024px;
        margin: 0;
    }

    .categories .category {
        margin: 0 0 60px 0;
        grid-template-columns: 435px calc(100% - 435px);
    }
    
    .category .category-card .card-image {
        width: 435px;
        min-height: 272px;
        margin: 0;
    }

    .category .category-card .card-stripe {
        height: 120px;
        align-items: center;
    }
    
    .card-stripe .blend-count {
        padding: 0 22px 0 5px;
    }

    .blend-count .blend-count-number {
        font-size: 3rem;
        line-height: 2.875rem;
    }

    .blend-count .blend-count-text {
        font-size: .75rem;
    }

    .card-stripe .card-title {
        font-size: 2.375rem;
        margin: 0;
        padding: 0 0 0 1%;
        line-height: 2.65rem;
    }

    .category .category-card .card-body {
        padding: 22px 29px 33px 102px;
        margin: 0;
    }

    .card-body .description {
        font-size: 1.125rem; 
        line-height: 1.3125rem;
    }

    .card-body .link {
        margin: 20px 0 0 0;
    }

    .category-feature .ingredient-stripe {
        position: relative;
        top: 47.1%;
        overflow: hidden;
    }

    .ingredient-stripe .image-wrapper {
        min-width: 588px;
        height: 120px;
    }

    .featured-item img {
        width: 334px;
    }
}

@media only screen and (max-width: 767px) {
    .categories .category {
        grid-template-columns: 100%;
        grid-template-rows: auto auto;
    }
    
    .category .category-card {
        display: flex;
        flex-direction: column;
        order: 2;
    }

    .category .category-card .card-stripe {
        flex-direction: row-reverse;
        order: 1;
        height: 100px;
    }

    .blend-count .blend-count-number {
        font-size: 2.4375rem;
        line-height: 2.25rem;
        text-align: center;
    }

    .blend-count .blend-count-text {
        font-size: .6875rem;
    }

    .card-stripe .card-title {
        font-size: 2rem;
        margin: 0 auto 0 120px;
        line-height: 2.1875rem;
    }

    .category .category-card .card-image {
        order: 2;
        width: 320px;
    }

    .category .category-card .card-body {
        order: 3
    }

    .category-feature .ingredient-stripe {
        position: initial;
        top: initial;
    }

    .ingredient-stripe .image-wrapper {
        min-width: 767px;
        height: 65px;
    }

    .category .category-feature {
        position: relative;
        order: 1;
    }

    .category-feature .featured-item {
        position: absolute;
        width: 160px;
        margin: 0;
        top: -83%;
    }

    .featured-item img {
        width: 100%;
    }

}

