.hero-background {
    background: #000;
}

.container {
    height: 55vh;
}

.video-wrap {
    width: 100%;
    height: 55vh;
    overflow: hidden;
}

.video-wrap video {
    width: 100vw;
}

/* @media only screen and (max-width: 1024) {

} */