.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

body {
  margin: 10px;
}

.container {
  display: grid;
  min-height: 768px;
  column-gap: 30px;
  row-gap: 10px;
  width: 100%;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: [row] auto, repeat(3, [row] 1fr);
  background-color: #fff;
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 120%;
}

.box .box {
  background-color: #ccc;
  color: #444;
}

.header {
  grid-column: col / span 4;
  grid-row: row;
  height: 50px;
}

.headerText {
  margin: 0;
}

.content {
  height: 650px;
  grid-column: col / span 4;
  grid-row: row 2;
  display:grid;
  column-gap: 20px;
  grid-template-columns: repeat(4, [col] 1fr);

}

.information {
  grid-column: col / span 2;
}

.carousel {
  grid-column: col 3 / span 2;
}

.advertisement {
  grid-column: col / span 4;
  grid-row: row 3;
}

.footer {
  grid-column: col /span 4;
  grid-row: row 4;
}
