.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.container {
  display: grid;
  min-height: 768px;
  width: 100%;
  grid-template-columns: repeat(4, [col] auto);
  grid-template-rows: [row] auto, repeat(3, [row] 1fr);
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  padding: 20px;
  font-size: 120%;
}

.box .box {
  background-color: #faf0d7;
  color: #034702;
}

.header {
  grid-column: col / span 4;
  grid-row: row;
  height: 40px;
  position: sticky;
  border-radius: 1px;
  top: 0px;
  color: #faf0d7;
  z-index: 3;
  background-color: #421d1ad9
}

.headerText {
  margin: 0;
}

.leftColumn {
  padding: 60px;
  grid-column: col 4;
  grid-row: row 2 / span 2;
}

.rightColumn {
  padding: 60px;
  grid-column: col ;
  grid-row: row 2;
}

.content {
  height: 650px;
  grid-column: col 2 / span 2;
  grid-row: row 2;
  display:grid;
  grid-template-columns: repeat(4, [col] 1fr);
  z-index: 1;
  background-color: #dbbb909e;
}

.information {
  grid-column: col / span 2;
  margin: 10%;
  
}

.carousel {
  grid-column: col 3 / span 2;
  margin: 10%;
}

.advertisement {
  grid-column: col 2 / span 2;
  grid-row: row 3;
}

.footer {
  grid-column: col 2 /span 2;
  grid-row: row 4;
}
