.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


.container {
  display: grid;
  min-height: 768px;
  width: 100%;
  grid-template-columns: repeat(12, [col] 1fr);
  grid-template-rows: [row] auto, repeat(3, [row] 1fr);
  color: #444;
}

.box {
  background-color: #444;
  color: #fff;
  border-radius: 5px;
  /* padding: 20px; */
  font-size: 120%;
}

.box .box {
  background-color: #faf0d7;
  color: #034702;
}

.header {
  grid-column: col / span 12;
  grid-row: row;
  height: 10px;
  position: sticky;
  border-radius: 1px;
  top: 0px;
  /* color: #faf0d7; */
  color: #421d1ad9;
  z-index: 3;
  background-color: #421d1ad9;
  padding-top: 40px;
}

.headerText {
  margin: 0;
  position: relative;
  top: 20px;
  left: 200px;
  font-size: 2vw;
}

.subHeaderText {
  margin: 0;
  position: relative;
  top: 20px;
  left: 175px;
}

.leftColumn {
  grid-column: col;
  grid-row: row 2 / span 2;
}

.rightColumn {
  grid-column: col 12;
  grid-row: row 2 / span 2;
}

.content {
  height: 720px;
  padding: 0 0 0 0;
  grid-column: col 2 / span 10;
  grid-row: row 2;
  display:grid;
  grid-template-columns: repeat(4, [col] 1fr);
  grid-template-rows: [row] 1fr, repeat(2, [row] 1fr), [row] 1fr;
  z-index: 1;
  background-color: #dbbb909e;
}

.box .banner {
  height: 105px;
  background-color: #dbbb909e;
  /* background-color: #444; */
  grid-column: col / span 4;
  grid-row: 1;
}

.information {
  height: 450px;
  grid-column: col / span 4;
  grid-row: 2;
  
}

.carousel {
  height: 165px;
  grid-column: col 1 / span 4;
  grid-row: 3;
  display: grid;
  grid-template-columns: repeat(4, [col] 1fr);
  /* margin: 10%; */
}

.carousel-text {
  margin: 0;
}

.carousel-button:nth-child(1) {
  grid-column: col;
  overflow: hidden;
}

.carousel-button:nth-child(2) {
  grid-column: col 2;
  overflow: hidden;
}

.carousel-button:nth-child(3) {
  grid-column: col 3;
  overflow: hidden;
}

.carousel-button:nth-child(4) {
  grid-column: col 4;
  overflow: hidden;
}


.advertisement {
  grid-column: col 2 / span 2;
  grid-row: row 3;
}

.footer {
  grid-column: col 2 /span 2;
  grid-row: row 4;
}
